### ignore all ###
/*

# (re)include core files:
!/modules/mcp_composer/pyproject.toml
!/modules/mcp_composer/uv.lock
!/modules/mcp_composer_app/pyproject.toml
!/modules/mcp_composer_app/uv.lock
!/modules/mcp_composer_client/uv.lock
!/src/
!/config/
!/example
!/spec
!/composers

### ignore final ###
__pycache__
*.egg-info
/src/mcp_composer/.*.example

### metafiles ###
.DS_Store
__MACOSX
