### ignore all ###
/*

# (re)include core files:

!/uv.lock
!/pyproject.toml
!/src/
!/config/
!/example
!/spec
!/composers

### ignore final ###
__pycache__
*.egg-info
/src/mcp_composer/.*.example
.venv

### metafiles ###
.DS_Store
__MACOSX
