MCP_BASE_URL="http://0.0.0.0:9000/mcp"
SERVER_CONFIG_FILE_PATH="/Users/advait/Desktop/GitHub/mcp-composer/example/mcsp_trio_server/mcsp_trio_master.json"

WATSONX_URL=""
WX_API_KEY=""
WATSONX_PROJECT_ID=""

INSTANA_API_KEY=""