SERVER_CONFIG_FILE_PATH=mcp_servers.json
TOOLS_CONFIG_FILE_PATH=tools.json


# following env variables for MCP composer client
TOOL_SELECT_METHOD=llm

# watsonx or ollama
CHAT_MODEL_NAME=watsonx
MAX_TOKENS = 1000

# watsonx env variables
# e.g., meta-llama/llama-4-maverick-17b-128e-instruct-fp8, meta-llama/llama-3-3-70b-instruct, ibm/granite-3-3-8b-instruct
WATSONX_CHAT_MODEL=
WATSONX_URL=
WATSONX_API_KEY=
WATSONX_PROJECT_ID=

# ollama model (must exist in local ollama models)
# e.g., granite3.3:8b
OLLAMA_CHAT_MODEL=